.diceContainer {
  background: linear-gradient(#545454, #454545, #676767);
  display: grid;
  grid-template-columns: 1fr;
  /* overflow: hidden; */
  width: 100%;
  border: none;
  border-radius: 5px;
}

button {
  align-self: center;
  background-color: #efefef;
  border: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem;
}
button:hover {
  cursor: pointer;
}

.dice-value {
  font-size: 30px;
  color: white;
  text-align: center;
}
