.container {
  width: 100%;
}

@media (min-width: 420px) {
  .container {
    max-width: 420px;
  }
}

@media (min-width: 645px) {
  .container {
    max-width: 645px;
  }
}

@media (min-width: 728px) {
  .container {
    max-width: 728px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1284px) {
  .container {
    max-width: 1284px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
